/*
@author untimateAnkit 
*/
.blurYellow {
	background:rgba(255,255,255,.5);
}
.blurBlack {
	background:rgba(0,0,5,.5);
}
.header {
	/*height: 150px;*/
	background: url('../assests/coverFront.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.topbar {
	height: 30px;
	background:rgba(0,0,5,.5);
}
.topbar ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	
	color: #fff;
}
.topbar li {
	float:left;
}
.topbar li a{
	display:block;
	text-align: center;
	padding: 5px 10px;
}
.topbar a:hover{
	text-decoration: none;
	/*background: green;*/
	color:#00e639;
}
.title {
	padding:0px 0;
	text-align: center;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}

.navbox {
	padding:0px;
}
.navbar-box {
	border: none;
	border-radius: 0px; 
	background: rgba(0,0,0,0.7);
	margin-top: 25px;

}
.center {
	padding:0 auto;
	margin: 0 auto;
	text-align: center;
	display: block;
}
/* override bootstrap to center align navbar*/
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;


}
.collapsing {
	
}
.collapse {}

}
.collapse.in {

}
 [aria-expanded="false"] {
 
  .logo {
  	height:100px;
	float: left;
	z-index: 9999999999999;
	position: fixed;
	top: -40px;
	left: 0;
    }

}

.icon-bar {
	background-color: #fff;
}
.navbar-toggle {
	background-color: rgba(51, 122, 183, 0.34);
}

/*logo img */
.logo {
	height:100px;
	display: block;
	z-index: 99999;
	position: relative;
	top: -40px;
	/*padding: 0 5px;*/
}

/* display center navbar only on large screen :)*/;
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media (max-width: 767px)  {

  .logo {
  	height:100px;
	float: left;
	z-index: 9999999999999;
	position: absolute;
	top: 0;
	left: 0;
    }

}

