/*
@author untimateAnkit 
*/

.header {
	/*height: 150px;*/
	background: url('../assests/cover.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.topbar {
	height: 30px;
	background:rgba(0,0,5,.5);
}
.topbar ul {

	list-style-type: none;
	margin: 0;
	padding: 0;
	
	color: #fff;
}
.topbar li {
	float:left;
}
.topbar li a{
	display:block;
	text-align: center;
	padding: 5px 10px;
}
.topbar a:hover{
	text-decoration: none;
	/*background: green;*/
	color:#00e639;
}
.title {
	padding:0px 0;
	text-align: center;
	text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) ;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);

}